html {
  box-sizing: border-box;
  font-size: calc(1em + 1vw)
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #291a17;
    color:  #ddbbc7;
    font-family: Helvetica;
}

header {
    font-family: "Anton";
    font-size:  3rem;
}

.container {
    align-items: center;
    justify-content: center;
}

.cropped > img {
    width: 50%;
}

.title {
    font-family: Arial;
    font-weight: bold;
    border-bottom: solid 1px; 
}

.navbar {
    margin: 1em;
    padding: 1em;
    background: #967287;
    color: #ddbbc7;
    font-size: 1.5rem;
    border-radius: .3rem;
}

.navbar > a {
    background: #ddbbc7;
    border-radius: .15rem;
    margin: .35rem;
    padding: .35rem;
    color: #402b2d;
}

.navbar > a:hover {
    background: white;    
}

#Announcements > p, img {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.input {
    margin: 20em;
    padding: 20em;
}

#guestbookMessage {
    height: 200px;
    width: 50%
}


#placePhotos {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1.5fr));
    grid-gap: 1rem;
}

#placePhotos > div > img {
    max-width: 100%;
}

#Guestbook {
    background: #967287;
    padding: .2rem;
    margin: .5rem;
    border-radius: .3rem;
}

#Guestbook > span, #Guestbook > a {
    font-size: 1.5rem;
    font-weight: bolder;
}

.message {
    padding: 1rem;
    font-family: "Lexend Mega";
    font-size: 1.8rem;
}

.sender {
    font-family: Roboto;
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    margin: 1rem;
}
