body {
/*    font-size: calc(1.5em + 1.5vw) */
}

.true {
	text-decoration: line-through;
        color: white;
        background: green;
        border-radius: 20px;
        padding: 5px;
        animation-name: slide;
        animation-duration: .2s;
}

@keyframes slide {
    from {padding: 0px;}
    to {padding: 5px;}
}

#header {
    box-shadow: 5px 5px green;
    border: 2px solid black;
    border-radius: 10px;
    margin: 18px;
    padding: 18px;
}

#headerBlurb {
    font-size: calc(.3em + .2vw);
}

span {
    white-space:nowrap;
}

h2 {
    font-size: calc(1em + 1vw + 2vh);
}

p {
    font-size: calc(1em + 1vh);
    font-family: 'Slabo 27px', serif;
}

button {
    height: calc(10% + 10vh);
    width: calc(10em + 1vw);
    font-size: calc(1em);
   
}

input {
    font-size: calc(1em + 1vw);
}
