html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: auto;
    background: #F8F8FF;
}

ul {
    display: flex;
    list-style-type: none;
/*	align-items: center; */
}

button, .locked, li, #drinkNam, #cocktailLink, #newIngredient {
    background: white;
    border: .06em solid pink;
    margin: .2em;
    padding: .5em;
    box-shadow: .1em .1em .1em pink;
    border-radius: .5em;
    text-shadow: .05em .05em .05em grey;
    text-align: center;
    font-weight: 350;

}

.locker, button:hover, li:hover, #cocktailLink:hover, #newIngredient:hover{
    background-color: pink;
}

.mainIngredient , .mainIngredient:hover {
	background: #88E788;
}

h2, h3 {
    text-shadow: .1em .1em .1em grey;
    font-weight: 200;
}

h3 > span {
	font-size: .8rem;
}

footer {
    /*display: grid;*/
    display: flex;
    height: 10vh;
    background: black;
    color: white;
    text-shadow: .1em .1em .1em grey;
    box-shadow: .1em .1em .1em grey;
    padding: 1rem;
/*    border-radius: 20px; */
    align-items: center;
    justify-content: center;
}

#showDrink {
    text-align: center;
}

#drinkAbout {
    /*max-width: 50%;*/
}

#pickAnother {
    /* height: auto; */
}

#intro {
    box-shadow: .5em .5em .5em pink;
    background: white;
    border: .1em solid blue;
    border-radius: .8em;
    margin: 1em;
    padding: 1em;
    background: url('./assets/b94d4f336d6cdbbc9332bd15027fd3bc.jpg');
    background-size: 100%;
    background-position: center;
}

#drinkImg {
    border-radius: 2em;
    width: 30rem; 
}

.shadowBox {
    margin: .5em;
    padding: .5em;
    box-shadow: .05em .05em .05em purple;
    border-radius: .8rem;
}

.drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#titleHeader {
    padding: 1rem;
    background: #EEE;
    mix-blend-mode: screen;
    border-radius: 1rem;
    width: 30%;
    text-align: center; 
    font-weight: 450;
}

#titleBlurb {
    background: #EEE;
    padding: .8rem;
    border-radius: 1rem;
    mix-blend-mode: screen;
    text-align: center;
    font-size: calc(.5em + 1vw);
    font-weight: 550;
}

#instructions {
    font-size: .8em;
    color: grey;
}

#newIngredient {
/*    margin: auto; */
    font-size: 1.3em;
    display: block;
    margin: auto;
}

@media (max-width: 768px) {
    .drinks > .shadowBox {
	width: 100%;
    }
}

@media (min-width: 1049px) {
    .drinks > .shadowBox {
	/*grid-template-columns: repeat(2, 1fr);*/
	flex-basis: 30%;
    }
}

@media (max-width: 14050px) {
    .drinks {
	/*grid-template-columns: repeat(4, 1fr);*/
    }
}


/* remove background at 600px or handle the image */
